html {
	max-width: 1440px;
	display: inline-block;
}

html, body {
	margin: 0;
	width: 1440px;
}

h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p, a {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

li {
	float: left;
}

form {
	position: relative;
	top: -8px;
}

textarea {
	width: 584px;
	height: 190px;
	border-color: #dfdfdf;
}

input[type="text"] {
	width: 584px;
	height: 22px;
	margin-bottom: 7px;
	font-size: 15px;
}

input[type="submit"] {
	width: 117px;
	height: 41px;
	margin-top: 20px;
	background-color: #a9c6fb;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 19px;
	font-weight: bolder;
	color: #ffffff;
}

.background {
	background-image: url(../images/intersection.png);
	background-repeat: repeat;
	background-attachment: fixed;
	min-height: 731px;
	margin-bottom: -50px;
}

.entire {
	display: inline-block;
	width: 1398px;
	padding: 38px 0px;
}

.sections {
	background-color: #ffffff;
	border-color: #c9c9c9;
	border-style: solid;
	border-width: 0.5px;

}

.social {
	width: 45%;
}

.portfolio {
	display: inline-block;
	width: 274px;
	height: 206px;
}

.footer {
	display: block;
	border-style: solid;
	border-color: #a9c6fb;
	border-top-width: 8px;
	font-size: 7pt;
	background-color: #666666;
	text-align: center;
	color: white;
}

.footer p {
	font-size: 12px;
	padding: 40px 368px;
}

.footer, .push {
	/*height: 100px;*/
}

#navbar {
	background-color: #ffffff;
	height: 43px;
	padding: 0px 20px 48px 162px;
	border-style: solid;
	border-bottom-width: 2px;
	border-color: #c9c9c9;
}

#navbar ul {
	width: 627px;
	padding: 0px;
	margin: 0px;
	position: relative;
	left: 386px;
	top: 33px;
}

#navbar a {
	font-size: 19px;
    color: #c9c9c9;
    padding: 5px 15px;
    text-decoration: none;
    border-right: solid;
    border-width: 1px;
}

#navbar li a:hover {
	color: #ffffff;
	background-color: #c9c9c9;
}

#navbar #contact-btn {
	border-right: none;
}

#navtitle {
	font-size: 32px;
	font-weight: bolder;
	height: 43px;
	width: 310px;
	background-color: #a9c6fb;
	float: left;
	padding: 28px 20px 20px 20px;
	color: #ffffff;
}

#main {
	display: inline-block;
	width: 590px;
	height: 384px;
	position: relative;
	left: 160px;
	padding: 40px 30px;
	margin-right: 41px;	
}

#main h2 {
	font-size: 30px;
	font-weight: bolder;
	color: #a9c6fb;
	margin-bottom: 30px;
}

#main hr {
	border-width: 1.5px;
	border-style: solid;
	border-color: #c9c9c9;
	margin-bottom: 30px;
}

#main img {
	width: 35%;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
	position: relative;
	top: 7px;
}

#main p {
	font-size: 18px;
	line-height: 1.7;
	display: inline;
}

#bg-long {
	margin-bottom: 0px;
}

#gallery {
	display: inline-block;
	width: 590px;
	height: 823px;
	position: relative;
	left: 160px;
	padding: 40px 30px;
	margin-right: 41px;	
}

#gallery h2 {
	font-size: 30px;
	font-weight: bolder;
	color: #a9c6fb;
	margin-bottom: 30px;
}

#gallery hr {
	border-width: 1.5px;
	border-style: solid;
	border-color: #c9c9c9;
	margin-bottom: 30px;
}


#gallery p {
	font-size: 22px;
	line-height: 3;
	text-align: center;
	color: #ffffff;
	background-color: #a9c6fb;
	height: 61px;
	position: relative;
	top: 145px;
}

#hangman {
	background-image: url(../images/hangman.jpg);
	background-size: 274px 206px;
	margin-right: 38px;
	margin-bottom: 56px;
}

#rpg-game {
	background-image: url(../images/rpg-game.jpg);
	background-size: 274px 206px;
	margin-bottom: 56px;
}

#trivia-game {
	background-image: url(../images/trivia-game.jpg);
	background-size: 274px 206px;
	margin-right: 38px;
	margin-bottom: 56px;
}

#rutgers {
	background-image: url(../images/rutgers.jpg);
	background-size: 274px 206px;
}

#rps {
	background-image: url(../images/rps.jpg);
	background-size: 274px 206px;
}

#contact {
	display: inline-block;
	width: 590px;
	height: 524px;
	position: relative;
	left: 160px;
	padding: 40px 30px;
	margin-right: 41px;	
}

#contact h2 {
	font-size: 30px;
	font-weight: bolder;
	color: #a9c6fb;
	margin-bottom: 30px;
}

#contact hr {
	border-width: 1.5px;
	border-style: solid;
	border-color: #c9c9c9;
	margin-bottom: 30px;
}

#contact p {
	font-size: 18px;
	line-height: 2;
	display: inline;
}

#sidebar {
	width: 246px;
	height: 137px;
	padding: 30px;
	float: right;
	position: relative;
	right: 239px;
}

#sidebar h3 {
	font-size: 22px;
	font-weight: bolder;
	color: #a9c6fb;
	text-align: center;
	margin-bottom: 20px;
}

#sidebar hr {
	border-width: 1px;
	border-style: solid;
	border-color: #c9c9c9;
	margin-bottom: 20px;
}

#sidebar ul {
	position: relative;
	left: 44px;
}

#sidebar li {
	margin: 0px -39px;
	width: 160px;
}

@media (max-width: 980px) {

  html {
  	max-width: 980px;
  }

  html, body {
	margin: 0;
	width: 980px;
  }

  textarea {
  	width: 353px;
  }

  input[type="text"] {
  	width: 353px;
  }

  .background {
  	width: 980px;
  }

  .entire {
  	width: 980px;
  }

  .portfolio {
	width: 358px;
	height: 268px;
  }

  .footer, .push {
    width: 980px;
  }

  #navtitle {
  	position: relative;
  	right: 56px;
  }

  #navbar ul {
  	left: 80px;
  }

  #main {
	width: 359px;
	height: 831px;
	left: 106px;
	margin-bottom: 50px;
  }

  #main img {
	width: 100%;
  }

  #sidebar {
	right: 106px;
  }

  #gallery {
	width: 359px;
	height: 1666px;
	left: 106px;	
  }

  #gallery h2 {
    margin-bottom: 29px;	
  }
	
  #gallery hr {
    margin-bottom: 40px;	
  }

  #gallery p {
    top: 207px;	
  }

  #rutgers {
	margin-bottom: 56px;
	background-size: 358px 268px;
  }

 #hangman {
	background-size: 358px 268px;
  }

  #rpg-game {
	background-size: 358px 268px;
  }

  #trivia-game {
	background-size: 358px 268px;
  }

  #rps {
	background-size: 358px 268px;
  }

  #contact {
  	width: 359px;
  	left: 105px;
  }
}

@media (max-width: 768px) {

  * {
  	width: 768px;
  }

  html {
  	max-width: 768px;
  }

  html, body {
	margin: 0;
	width: 768px;
  }

  form {
  	width: 666px;
  }

  textarea {
  	width: 661px;
  }

  input[type="text"] {
  	width: 661px;
  }

  .background {
  	width: 768px;
  }

  .entire {
  	width: 768px;
  }

  .gallery-div {
  	width: 313px;
  }

  .portfolio {
	width: 313px;
	height: 235px;
  }

  .footer, .push {
  	width: 768px;
  }

  .footer p {
	width: 187px;
	padding: 40px 290px;
  }

   #navtitle {
  	position: relative;
  	right: 122px;
  }

  #navtitle h1 {
    position: relative;
    left: 2px;
    width: 303px;
  }

  #navbar {
 	width: 606px;
 	padding: 0px 20px 48px 142px;  
  }

  #navbar ul {
  	left: -167px;
  	float: right;
  	width: 240px;
  }

  #navbar li {
  	width: 130px;
  	margin: 0px -25px;
  }

  #navbar #contact-btn {
  	position: relative;
  	left: 20px;
  }
	
  #main {
	width: 667px;
	height: 475px;
	left: 20px;
	margin-bottom: 40px;
	margin-right: 0px;
  }

  #main h2 {
  	width: 538px;
  }

  #main hr {
  	width: 663px;
  }

  #main img {
	width: 48%;
	position: relative;
	top: 7px;
  }

  #main p {
	display: table-row;
  }

  #sidebar {
  	width: 667px;
	right: 20px;
	margin-bottom: 52px;
  }

  #sidebar h3 {
  	width: 672px;
  }

  #sidebar hr {
  	width: 670px;
  }

  #sidebar ul {
	left: 256px;
	width: 246px;
  }

  #gallery {
	width: 668px;
	height: 919px;
	left: 20px;
	margin-bottom: 40px;	
  }

  #gallery h2 {
	width: 667px;
  }

  #gallery hr {
	width: 662px;
  }

  #gallery p {
  	top: 174px;
	width: 313px;
  }

  #hangman {
	background-size: 313px 234px;
  }

  #rpg-game {
	background-size: 313px 234px;
  }

  #trivia-game {
	background-size: 313px 234px;
  }

  #rutgers {
	background-size: 313px 234px;
  }

  #rps {
	background-size: 313px 234px;
  }

  #contact {
  	width: 667px;
  	left: 20px;
  	margin-bottom: 40px;
  }

  #contact h2 {
  	width: 666px;
  }

  #contact hr {
  	width: 663px;
  }

}

@media (max-width: 640px) {

  * {
  	width: 498px;
  }

  html {
  	max-width: 640px;
  }

  html, body {
	margin: 0;
	width: 640px;
}

  header {
  	width: 640px;
  }

  li {
  	width: 150px;
  }

  form {
  	width: 538px;
  }

  textarea {
  	width: 533px;
  }

  input[type="text"] {
  	width: 533px;
  }

  .background {
  	width: 640px;
  }

  .entire {
  	width: 640px;
  }

  .portfolio {
	width: 537px;
	height: 403px;
  }

  .footer p {
	width: 187px;
	position: relative;
	right: -32px;
	padding: 40px 200px;
  }

  #navtitle {
  	width: 600px;
  	right: 142px;
  }

  #navtitle h1 {
    position: relative;
    left: 150px;
    width: 303px;
  }

  #navbar {
 	width: 478px;
	height: 107px;
 	padding: 0px 20px 48px 142px;  
  }

  #navbar ul {
  	left: -102px;
  	top: 23px;
  	width: 549px;
  	float: right;
  }

  #navbar li {
  	width: 100px;
  	margin: 0px 41px;
  }

  #navbar a {
    padding: 5px 66px;
  }

  #navbar #contact-btn {
  	position: relative;
  	left: 20px;
  }

  #main {
	width: 539px;
	height: 888px;
  }

  #main hr {
  	width: 536px;
  }

  #main img {
	width: 100%;
    top: 0px;
  }

  #sidebar {
  	width: 539px;
	right: 20px;
	margin-bottom: 52px;
  }

  #sidebar h3 {
  	width: 540px;
  }

  #sidebar hr {
  	width: 537px;
  }

  #sidebar ul {
	left: 194px;
	width: 246px;
  }

  #gallery {
	width: 538px;
	height: 2285px;
	left: 22px;
	margin-bottom: 40px;	
  }

  #gallery h2 {
  	width: 537px;
  }

  #gallery hr {
  	width: 534px;
  }

  #gallery p {
  	top: 342px;
  	width: 537px;
  }

  #hangman {
 	background-size: 537px 403px;
  	margin-bottom: 42px;
  }

  #rpg-game {
 	background-size: 537px 403px;
  	margin-bottom: 42px;
  }

  #trivia-game {
 	background-size: 537px 403px;
  	margin-bottom: 42px;
  }

  #rutgers {
 	background-size: 537px 403px;
  	margin-bottom: 42px;
  }

  #rps {
	background-size: 537px 403px;
  }

  #contact {
  	width: 539px;
  }

  #contact h2 {
  	width: 538px;
  }

  #contact hr {
  	width: 535px;
  }

  .footer {
  	width: 640px;
  }

  .push {
  	width: 640px;
  }
}